In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
covid = pd.read_csv("covid19.csv", low_memory = False)
covid[:3]

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8051.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8978.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,201.0,NaN,NaN

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310111 entries, 0 to 2310110
Data columns (total 33 columns):
 #   Column                    Dtype
---  ------                    -----
 0   ID                        object
 1   age                       object
 2   sex                       object
 3   city                      object
 4   province                  object
 5   country                   object
 6   latitude                  float64
 7   longitude                 float64
 8   geo_resolution            object
 9   date_onset_symptoms       object
 10  date_admission_hospital   object
 11  date_confirmation         object
 12  symptoms                  object
 13  lives_in_Wuhan            object
 14  travel_history_dates      object
 15  travel_history_location   object
 16  reported_market_exposure  object
 17  additional_information    object
 18  chronic_disease_binary    bool
 19  chronic_disease           object
 20  source                    object
 21  sequence_available        object
 22  outcome                   object
 23  date_death_or_discharge   object
 24  notes_for_discussion      object
 25  location                  object
 26  admin3                    object
 27  admin2                    object
 28  admin1                    object
 29  country_new               object
 30  admin_id                  float64
 31  data_moderator_initials   object
 32  travel_history_binary     object
dtypes: bool(1), float64(3), object(29)
memory usage: 566.2+ MB

In [4]:
covid.isnull().sum()

ID                                0
age                         1996898
sex                         1993509
city                         869845
province                     367544
country                         115
latitude                         61
longitude                        61
geo_resolution                   61
date_onset_symptoms         2107521
date_admission_hospital     2201167
date_confirmation            108436
symptoms                    2308058
lives_in_Wuhan              2305773
travel_history_dates        2307555
travel_history_location     2301289
reported_market_exposure    2308763
additional_information      2286408
chronic_disease_binary            0
chronic_disease             2309898
source                       322837
sequence_available          2310093
outcome                     2007094
date_death_or_discharge     2309589
notes_for_discussion        2309471
location                    2296029
admin3                      2231750
admin2                      1499753
admin1                      1168798
country_new                   42388
admin_id                         61
data_moderator_initials      660551
travel_history_binary         65579
dtype: int64

In [5]:
age = np.array(covid.age)
sym = ["weeks", "+", "-", " "]
for x,y in enumerate(age):
    if type(y) is float:
        age[x] = y
    elif sym[0] in y:
        age[x] = 0
    elif sym[1] in y:
        age[x] = y.replace('+','')
        age[x] = int(round(float(age[x])))
    elif sym[2] in y:
        if len(y) >= 4:
            mat = y.split("-")
            if "Sep" in mat:
                age[x] = 0
            else:
                age[x] = (int(mat[0]) + int(mat[1]))/2
        else:
            age[x] = y.replace('-','')
            age[x] = int(round(float(age[x])))
    elif sym[3] in y:
        num, month = y.split(" ")
        num = int(num)
        if num < 6:
            age[x] = 0
        elif num >= 6 and num < 18:
            age[x] = 1
        else:
            age[x] = 2
for x,y in enumerate(age):
    age[x] = float(y)
covid["age"] = age
covid["age"].fillna(covid["age"].mean(), inplace = True)

In [6]:
covid["age"].mean()

49.09022890470057